.cm-hamburger {
    position: relative;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}
.hamberger-bars{
    position: absolute;
    display: block;
    height: 4px;
    width: 30px;
    /* background: #000; */
    background: #fff;
    border-radius: 5px;
    transition: all 0.4s var(--elastic);
}
.hamberger-bar-1{
    top: 7px;
    left: 4px;
}
.hamberger-bar-2{
    left: 4px;
    top: 17px;
}
.hamberger-bar-3{
    top: 27px;
    left: 4px;
}

.cm-hamburger.active .hamberger-bar-1{
    margin-top: -2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(135deg); 
}
.cm-hamburger.active .hamberger-bar-2{
    margin-top: -2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotateY(90deg);        
}
.cm-hamburger.active .hamberger-bar-3{
    margin-top: -2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(-135deg);
}