.cm-gallery-inquiry{
    padding-top: 120px;
}


.modal-header-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 12px;
    text-transform: uppercase;
    color: #0191DC;
}
.modal-header {
    padding: 0px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.428571429px;
}
.inquiry-form-subtext{
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    background-color:#e7f5f8;
    background-color:#0191dc;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 50px rgba(0,0,0,0.3);
    margin-left: -30px;
    padding-left: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 50px;
}
.inquiry_form_wrapper {
    box-shadow: 0px 5px 50px rgba(0,0,0,.3);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}
@media (max-width: 768px){
    .inquiry-form-subtext{ 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 0px;
        padding-left: 20px;
    }
    .cm-about2 {
    padding-top: 50px;
    }
    .cm-common-if-title {
        font-size: 25px;
    }
    .if-s_title {
        font-size: 47px;
    }
}
@media (max-width: 460px){
  .s_title {
    font-size: 45px;
    font-size: calc(-30px + 23vw);
    }
    .s_title.inquiry-title, .page-template-tpl-inquiryform .s_title {
        font-size: 45px;
        font-size: calc(-40px + 23vw);
    }
}
.cm-box-shadow {
    box-shadow: 0px 0px 29px rgba(0,0,0,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    text-align: justify;
}


.ui-widget.ui-widget-content {
    z-index: 10 !important;
}