.padd-top{
  padding-top: 20px;
}
.marg-top{
  margin-top: 10px;
}
.cm-gallery-cricket{
    padding-top: 120px;
}
.cm-cricket-text{
   font-size: 16px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}
.cm-gallery-cricket .slick-dots {
    margin-bottom: 5vh ! important;
}

.cm-table-cricket { 
  width: 100%; 
  border-collapse: collapse; 
  border-radius: 10px;
   border-collapse: collapse;
}

.ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list li {
    list-style: disc;
    padding-bottom: 5px;
}

.cm-cricket-contact{
    text-decoration: none;
    color: #006BB1;
}
.cm-cricket-link{
    text-decoration: none;
    color: #006BB1;
}
@media (max-width: 768px){
  .cm-cricket-titles-image {
    padding: 15px;
}
.cm-gallery-cricket {
    padding-top: 70px;
}
}
