.padd-top{
  padding-top: 20px;
}
.marg-top{
  margin-top: 10px;
}
.cm-gallery-about-member{
    padding-top: 120px;
}


.cm-gallery-about-member .slick-dots {
    margin-bottom: 5vh ! important;
}


.ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list li {
    list-style: disc;
    padding-bottom: 5px;
}

.cm-about-member-contact{
    text-decoration: none;
    color: #006BB1;
}
.cm-about-member-link{
    text-decoration: none;
    color: #006BB1;
}

.mail{
   text-decoration: none;
    color: #006BB1;
}